<!DOCTYPE html>
<html>
  <head>
    <title>WdpApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class="col-4 toppart">
        <h1>M quiz app</h1>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
